.contactItem {
    display: flex;
    flex-direction: column;
    /* Вирівнювання елементів по вертикалі */
    align-items: flex-start;
    justify-content: space-between;
    /* Рівномірний розподіл простору */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    /* Фіксована ширина для всіх карток */
    height: 150px;
    /* Фіксована висота для всіх карток */
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Додавання тіні для кращої видимості */
    box-sizing: border-box;
    transition: transform 0.2s ease;
    /* Ефект при наведенні */
}

.contactItem:hover {
    transform: scale(1.05);
    /* Збільшення картки при наведенні */
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    width: 100%;
    overflow: hidden;
    /* Запобігання виходу тексту за межі */
    flex-grow: 1;
    /* Розтягується на всю висоту контейнера */
}

.contactName {
    font-weight: bold;
}

.contactNumber {
    font-size: 1em;
}

.deleteButton {
    align-self: flex-end;
    /* Вирівнювання кнопки праворуч */
    padding: 5px 10px;
    background-color: #087bc7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #d32f2f;
}